@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

//COLOURS

//main highlight
$high-light: #ff5757;
//text and lines
$text-lines: #292f36;
//wall colour
$wall-paint: #eff9f0;
//main low light
$low-light: #adbca5;

//GRADIENTS

//FONTS

$josefin-sans: "Josefin Sans", sans-serif;
$sarabun: "Sarabun", sans-serif;
$nunito-sans: "Nunito Sans", sans-serif;

//STYLES

$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//BUTTONS
